.litle-title-style {
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px !important;
  h2 {
    text-align: center;
    width: 40%;
    margin: auto;

    font-size: 3.5vw;
    color: $h2Color;
    text-transform: uppercase;
  }
  .underline {
    margin: auto;
    margin-top: 20px;
    display: block;
    border-color: $primaryColor!important;
    border: solid 1px;
    border-radius: 90%;
    width: 30%;
    margin-bottom: 40px;
  }
}
