#team {
  margin: 3vw;
  .container-team {
    display: flex;
    .member-card {
      margin: 0.5vw;
      padding: 0.5vw;
      background-color: #f2f1f0;
      transform: scale(1) translate(0px, 0px);
      transition: all 200ms ease;
      border-radius: 1%;
      box-shadow: -15px 11px 20px -9px rgba(0, 50, 50, 0);
      &:hover {
        transform: scale(1.1) translate(20px, -40px);
        box-shadow: -15px 20px 20px -9px rgba(0, 50, 50, 1);
      }
      img {
        display: inherit;
        width: 13vw;
        max-width: 150px;
        height: 13vw;
        max-height: 150px;
        margin: 0 auto;
        border-radius: 50%;
      }
      .identity {
        text-align: justify;
        padding: 15px;
        h3 {
          margin: auto;
        }
        span {
          font-style: italic;
          color: $h2Color;
        }
      }
    }
  }
}
