@import "variable";
@import "buttons";
@import "contact";
@import "faq";
@import "header";
@import "menu";
@import "mixins";
@import "portfolio";
@import "skills";
@import "team";
@import "h2";
@font-face {
  font-family: "EuropeanTypewriter";
  src: url(../medias/fonts/EuropeanTypewriter.ttf);
}
body {
  margin: 0;
  font-family: "EuropeanTypewriter";
}
