@import "buttons";
@import "contact";
@import "faq";
@import "header";
@import "menu";
@import "mixins";
@import "portfolio";
@import "skills";
@import "team";
@import "variable";
@import "h2";

body {
    margin: 0;
}
article {
    display: flex;
    width: 100%;
}